.p-t-5 {
  padding-top: 5px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.p-b-60 {
  padding-bottom: 60px;
}

.p-b-165 {
  padding-bottom: 165px;
}

.p-l-15 {
  padding-left: 15px;
}

.p-l-75 {
  padding-left: 75px;
}

.p-r-15 {
  padding-right: 15px;
}

.p-r-60 {
  padding-right: 60px;
}

.m-t-3 {
  margin-top: 3px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-b-3 {
  margin-bottom: 3px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-30 {
  margin-right: 30px;
}

.m-lr-auto {
  margin-left: auto;
  margin-right: auto;
}

.txt-center {
  text-align: center;
}

.w-full {
  width: 100%;
}

.trans {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.flex-w,
.flex-c-m,
.flex-sb-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-w {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-c-m {
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.flex-sb-m {
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
